// Importing resources
@import "../../global.scss";

.portfolio-main-container {
  background-color: $primaryWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  #portfolio-h1-text {
    font-size: 3vw;
    font-weight: bold;
    color: $primaryUIColor;
    display: none;
  }
}

// Media queries
@media screen and (max-width: 970px) {
  .portfolio-main-container {
    #portfolio-h1-text {
      font-size: 8vw;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 500px) {
  .portfolio-main-container {
    padding: 5px;

    #portfolio-h1-text {
      font-weight: bold;
      display: block;
    }
  }
}
