// Importing resources
@import "../../global.scss";

.skill-and-knowledge-main-container {
  background-color: $primaryWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  #skill-and-knowledge-h1-text {
    font-size: 3vw;
    font-weight: bold;
    color: $primaryUIColor;
    display: none;
  }

  .content-cards-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    flex-wrap: wrap;

    .skill-with-progress-bar-container {
      width: 35vw;
      margin-bottom: 10px;

      .skill-title-text {
        font-weight: bold;
        font-size: 1.2vw;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      .progress {
        height: 10px;
      }
    }

    .knowledge-carousel-main-container {
      width: 100%;
      height: 100%;

      .carousel-img-text-container {
        .carousel-image {
          height: 60px;
        }
      }
    }
  }
}

// Media queries
@media screen and (max-width: 970px) {
  .skill-and-knowledge-main-container {
    #skill-and-knowledge-h1-text {
      display: block;
      font-size: 8vw;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 500px) {
  .skill-and-knowledge-main-container {
    padding: 5px;

    #skill-and-knowledge-h1-text {
      display: block;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .content-cards-container {
      padding-top: 15px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;

      .content-card-main-container {
        width: 100% !important;
        height: fit-content !important;
        max-height: 240px;

        .card-title-text {
          font-size: 5vw;
        }

        .skill-with-progress-bar-container {
          width: 100%;

          .skill-title-text {
            font-size: 3vw;
          }
        }
      }

      .knowledge-content-card-container {
        .card-content-container {
          height: 5vh;

          .knowledge-carousel-main-container{
            height: auto;
          }
        }
      }
    }
  }
}
