@import "../../../global.scss";

.portfolio-list {
  margin: 10px;
  list-style: none;
  display: flex;

  li {
    font-size: 1.5vw;
    margin-right: 50px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;

    &.active {
      background-color: $primaryUIColor;
      color: $primaryWhite;
    }
  }
}

// Media queries
@media screen and (max-width: 970px) {
}

@media screen and (max-width: 650px) {
  .portfolio-list {
    width: 90vw;
    justify-content: space-around;
    background-color: $primaryUIColor;
    border-radius: 14px 14px 14px 14px;

    li {
      margin: 10px;
      font-size: 10px;

      &.active {
        background-color: cadetblue;
        height: max-content;
        width: 35px;
        text-align: center;
      }
    }
  }
}
